<!-- <header class="menu">
  <div style="display: block;">
    <nav>
      <a href="http://enbage.it/" style="margin-top: 13px; display: inline-block; margin-bottom: 13px;">
        <%= image_tag "enbage_logo.png" %> -->
        <!-- <img src="/assets/logo.jpg" /> -->
      <!-- </a>
      <ul style="float: right; list-style: none;">
        <li>
          <%= link_to 'Edit', edit_case_history_path(@case_history) %>
          <a href="/case_histories">Back</a>
          <a href="#mission"class="anchor">Mission</a>
          <a href="#solution"class="anchor">Solution</a>
          <a href="#result"class="anchor">Result</a></li>
      </ul>
    </nav>
  </div>
</header>  -->
<div class="row copertina"style="margin-top: 20px;">
  <div class="col-sm-12 div0" style="height: 500px;background-image: url(/assets/<%= @case_history.background_image %>1.jpg);">
<!-- <div class="div0" style="margin-top: 105px;height: 500px;position: relative; background-image: url(/assets/<%= @case_history.background_image %>);"> -->
    <a name="inizio"></a>
    <div class="row" style="position: absolute;bottom: 0px;">
      <div class="col-xs-8 col-lg-offset-1"style="max-width: 300px;min-width: 200px;">
        <img alt="Logo" src="/assets/<%= @case_history.background_logo %>" >
      </div>
    </div>  
  </div>
    <div class="col-md-8 col-md-offset-2">
      <a id="inizio" href="#mission" class="anchor" style="display: table-cell;">
        <img alt="giu"src="/assets/frecciagiu.png" class="arrow">
      </a>
    </div>
</div>


<div class="row title" style="background-color: <%= @case_history.background_title%>">
  <div class="div">
    <h1 id="h1" style="color: <%= @case_history.title_text_color%>">
      <%= @case_history.title %>
    </h1>
  </div>
</div>
<div class="row divMission" id="descrizione" style="background-color: <%= @case_history.background_mission %>">
  <a name="mission"></a> 
  <div class=" col-md-8 col-md-offset-2 div show">
    <h1 id="h1" style="color: <%= @case_history.mission_text_color%>">
      <%= @case_history.mission_title %> 
    </h1>
    <h2 class="description" style="color: <%= @case_history.mission_text_color%>">
      <%= @case_history.mission_description %>
    </h2>
    <a id="mission" href="#solution" class="anchor">
      <img alt="giu"src="/assets/frecciagiu.png" class="arrow1">
    </a>
  </div>
</div>
  
<div class="row divSolution" id="descrizione" style="background-color: <%= @case_history.background_solution %>">
  <a name="solution"></a> 
    <div class=" col-md-8 col-md-offset-2 show">     
      <h1 id="h1" style="color: <%= @case_history.solution_text_color%>">
        <%= @case_history.solution_title %> 
      </h1>
      <h2 class="description" style="color: <%= @case_history.solution_text_color%>">
        <%= @case_history.solution_description %>
      </h2>
      <a href="#result"class="anchor">
        <img alt="giu" src="/assets/frecciagiu.png" class="arrow1">
      </a>
  </div>  
</div>

<div class="row divreRsult" id="descrizione" style="background-color: <%= @case_history.background_result %>">
  <a name="result"></a>
  <div class="col-md-8 col-md-offset-2 div show">
    
    <h1 id="h1" style="color: <%= @case_history.result_text_color%>">
      <%= @case_history.result_title %>
    </h1>
    <h2 class="description" style="color: <%= @case_history.result_text_color%>">
      <%= @case_history.result_description %>
    </h2> 
    <a href="#grafic"class="anchor">
      <img alt="su" src="/assets/frecciagiu.png" class="arrow1">
    </a>  
  </div>
</div>
<div class="row grafico" id="descrizione" style="background-color: white">
  <a name="grafic"></a>
  <div style="margin: 1em">
    <h1 id="h1" style="color: <%= @case_history.result_text_color%>">
      I nostri numeri
    </h1>
    <img alt="grafici" src="/assets/grafico1.png">
    <img alt="grafici" src="/assets/grafico2.png">
  </div>
  <div>
    <a href="#inizio"class="anchor">
      <img alt="su" src="/assets/frecciasu.png" class="arrow1">
    </a>
  </div>
</div>




<script type="text/javascript">
  

  $("a.anchor").click(function(e){
    e.preventDefault();
    var destination = $(this).attr("href");    
    var inizio = $("a[name='" + destination.substring(1) + "']");
    $("html, body").animate({ scrollTop: (inizio.offset().top) -70 }, 600);
  });


// evidenzia nel menu la sezione un cui ci si trova
  $(function(){
    $(window).scroll(function(e){
      var aTop0 = ($('.copertina').offset().top) - 300;
      var aTop = ($('.divMission').offset().top) - 300;
      var aTop1 = ($('.divSolution').offset().top) - 300;
      var aTop2 = ($('.divreRsult').offset().top) - 300;
      var aTop3 = ($('.grafico').offset().top) - 300;
      // console.log("aTop" + aTop + " and scrollTop " + $(this).scrollTop() )
      
      
      $("a.anchor[href='#mission']").removeClass("active");
      $("a.anchor[href='#solution']").removeClass("active")
      $("a.anchor[href='#result']").removeClass("active")
      $("a.anchor[href='#grafic']").removeClass("active")
      if($(this).scrollTop()>=aTop && $(this).scrollTop()<=aTop1){
        $("a.anchor[href='#solution']").removeClass("active")
        $("a.anchor[href='#result']").removeClass("active")
        $("a.anchor[href='#grafic']").removeClass("active")
        $("a.anchor[href='#mission']").addClass("active");
        console.log("mission");        
      }
      if($(this).scrollTop()>=aTop1 && $(this).scrollTop()<=aTop2){
        $("a.anchor[href='#mission']").removeClass("active");
        $("a.anchor[href='#result']").removeClass("active")
        $("a.anchor[href='#grafic']").removeClass("active")
        $("a.anchor[href='#solution']").addClass("active");
        console.log("solution");        
      }
      if($(this).scrollTop()>=aTop2 && $(this).scrollTop()<=aTop3){
        $("a.anchor[href='#mission']").removeClass("active");
        $("a.anchor[href='#solution']").removeClass("active");
        $("a.anchor[href='#grafic']").removeClass("active")
        $("a.anchor[href='#result']").addClass("active");
        console.log("result");        
      }
      if($(this).scrollTop()>=aTop3){
        $("a.anchor[href='#mission']").removeClass("active");
        $("a.anchor[href='#solution']").removeClass("active");
        $("a.anchor[href='#result']").removeClass("active");
        $("a.anchor[href='#grafic']").addClass("active")
        console.log("result");        
      }
    });
  });;


</script>
