<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/x-icon" href="http://enbage.com/assets/favicon-logo.ico">
  <title>Case History | Enbage</title>
   <!-- <meta name="viewport" content="width=device-width" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <link href="bootstrap-responsive.css" rel="stylesheet"> -->
  
  <%= stylesheet_link_tag    'bootstrap-responsive', media: 'all' %>
  <%= stylesheet_link_tag    'case_histories', media: 'all' %>
  <%= csrf_meta_tags %>
  
</head>

<body style="padding-left: 0; padding-right: 0; ">

  <header class="menu">
    <nav class="navbar navbar-default" role="navigation" style="border-radius: 0px;margin-bottom: 0;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="http://enbage.it/" class="navbar-brand" style="margin-top: 13px; display: inline-block; margin-bottom: 13px;border-bottom: 1px solid #179F87;">
            <%= image_tag "enbage_logo.png" %>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse ulNav" id="bs-example-navbar-collapse-1">
          <ul id="navcontainer"style="">
            <% if @case_history && !@case_history.new_record?  %>          
              <li style="margin-left: 10px;">
                <a href="#mission"class="anchor"class="active">Obiettivo</a>
              </li>
              <li style="margin-left: 10px;">
                <a href="#solution"class="anchor"class="active">Soluzione</a>
              </li>
              <li style="margin-left: 10px;">
                <a href="#result"class="anchor"class="active">Risultati</a>
              </li>
              <li style="margin-left: 10px;">
                <a href="#grafic"class="anchor"class="active">Statistiche</a>
              </li>  
              <li style="font-family: roboto;font-size: 20px;font-weight: bold;">|</li> 
              <li style="margin-left: 10px;">
                <%= link_to "Edit", edit_case_history_path(@case_history) %>
              </li>
              <li style="margin-left: 10px;">
                <a href="/case_histories">Home</a>
              </li>  
              <% else %>
                <% if current_page?(case_histories_path) %>
                  <li><%= link_to 'New Case history', new_case_history_path %></li>
                  <% else %>
                    <li><a href="/case_histories">Home</a></li>
                <% end %>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
 
<%= yield %>
<footer style="margin-top: 0px;text-align: center;padding-top: 1em;">
	<div>
    <a href="http://facebook.com/enbagetools" target="_blank" title="Facebook"> 
      <img alt="Facebook" src="/assets/facebook_round.png">
    </a>
    <a href="http://twitter.com/Enbage" target="_blank" title="Twitter"> 
      <img alt="Facebook icona tonda" src="/assets/twitter_round.png">
    </a>
    <a href="https://plus.google.com/117827290305790033185" target="_blank" title="Google Plus"> 
      <img alt="Facebook icona tonda" src="/assets/gplus_round_s.png"> 
    </a>
    <a href="http://instagram.com/enbage" target="_blank" title="Instagram">
      <img alt="Facebook icona tonda" src="/assets/instagram_round.png">
    </a>
    <a href="http://enbage.tumblr.com/" target="_blank" title="Tumblr">
      <img alt="Facebook icona tonda" src="/assets/tumblr_round.png">
    </a>     
  </div>

  <div style="color: grey;font-family: Oswald;font-size: 20px;">  
    © uqido
  </div>

</footer>
</body>
</html>
